body {
    font: 11px/2 verdana, arial,helvetica, sans-serif;
    margin: 0;
}
img {
    border: 0;
}
p {
    margin: 0px;
    line-height: normal;
}

h2 {
    color: #2db6df;;
    margin: 0px;
}

#logo {
    width: 960px;
    margin: 0 auto;
}
#logo img {
    margin-top: 16px;
}

#other_topnav {
    background-color: #cccccc;
    color: black;
    height: 28px;
}

#other_topnav_inner {
    width: 960px;
    margin: 0 auto;
    
}

#other_topnav_inner_left_block {
    width: 641px;
    float:left;
}

#other_topnav_inner_right_block {
    width: 319px;
    float:left;
}

#other_topnav_inner_right_block a {
    text-decoration: none;
}

#other_topnav_menu {
    margin: 0px;
    padding-left: 0px;
}

#other_topnav_menu li {
    display: inline;
}

#other_topnav_menu li:not(.first) {
    margin-left: 20px;
}

#other_topnav_menu li a{
    color:black;
    text-decoration: none;
}
#other_topnav_menu li a:hover{
    text-decoration: underline;
}
#other_topnav_menu li a:visited{
    color:black;
}

#topnav {
    background-color: green;
    width: 100%;
    min-height: 33px;
}

#topnav_inner {
    width: 960px;
    margin: 0 auto;
}

#breadcrumb{
    padding-left: 0px;
}

#breadcrumb li{
    display: inline;
}

#parent-container {
    background-image:url('../layout_images/gradient-bg.jpg');
    background-repeat:repeat-x;
    min-height: 434px;
/*    margin-top: -11px;*/
}
#container {
    width: 960px;
    margin: 0 auto;
}


#main_inner {
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    width: 920px;
    padding: 20px;
}

#job_search_main {
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    width: 920px;
    padding: 20px;
}

#bottom_middle_seciton {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

#footerFull {
    background: #bebebe;
    margin-top: 20px;
}

#footer {
    clear: both;
    min-height: 87px;
    margin: 0 auto;
    position: relative;
    width: 960px;
    background: transparent url('../layout_images/shadow.png') 0 -15px;
    background-repeat: no-repeat;
    color: #666;
}

#footer_link
{
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    list-style: none;
}
#footer_link li {
    display: inline;
    margin-right: 10px;
}

#footer_link li a {
    color: inherit;
    text-decoration: none;
}

#footer_link li a:hover {
    text-decoration: underline;
}


/* GENERIC CLASSES */
.clear {
    clear:both;
}
.hide {
    display: none;
}
.left {
    float: left;
}
.social_icons a{
    text-decoration: none;
}


.box {
    background-image:url('../layout_images/box-gradient-bg.jpg');
    background-repeat:repeat-x;
    min-height: 148px;
    background-color: #cccccc;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 10px;
    padding-bottom: 0px;
}

.main_inner {
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    width: 920px;
    padding: 20px;
}

/*form classes */


.form label{
    text-align:right;
    float:left;
    width: 150px;
}
span.required {
    color: red
}

.error_border {
    border: 1px solid red;
}