body {
    font: 11px/2 verdana, arial,helvetica, sans-serif;
    margin: 0;
}
img {
    border: 0;
}
p {
    margin: 0px;
    line-height: normal;
}

h2 {
    color: #2db6df;;
    margin: 0px;
}

#logo {
    width: 960px;
    margin: 0 auto;
}
#logo img {
    margin-top: 16px;
}

#other_topnav {
    background-color: #cccccc;
    color: black;
    height: 28px;
}

#other_topnav_inner {
    width: 960px;
    margin: 0 auto;
    
}

#other_topnav_inner_left_block {
    width: 641px;
    float:left;
}

#other_topnav_inner_right_block {
    width: 319px;
    float:left;
}

#other_topnav_inner_right_block a {
    text-decoration: none;
}

#other_topnav_menu {
    margin: 0px;
    padding-left: 0px;
}

#other_topnav_menu li {
    display: inline;
}

#other_topnav_menu li:not(.first) {
    margin-left: 20px;
}

#other_topnav_menu li a{
    color:black;
    text-decoration: none;
}
#other_topnav_menu li a:hover{
    text-decoration: underline;
}
#other_topnav_menu li a:visited{
    color:black;
}

#topnav {
    background-color: #207bc0;
    width: 100%;
    min-height: 33px;
}

#topnav_inner {
    width: 960px;
    margin: 0 auto;
}

#breadcrumb{
    padding-left: 0px;
}

#breadcrumb li{
    display: inline;
}

#parent-container {
    background-image:url('../layout_images/gradient-bg.jpg');
    background-repeat:repeat-x;
    min-height: 434px;
/*    margin-top: -11px;*/
}
#container {
    width: 960px;
    margin: 0 auto;
}


#main_inner {
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    width: 920px;
    padding: 20px;
}

#job_search_main {
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    width: 920px;
    padding: 20px;
}

#bottom_middle_seciton {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

#footerFull {
    background: #bebebe;
    margin-top: 20px;
}

#footer {
    clear: both;
    min-height: 87px;
    margin: 0 auto;
    position: relative;
    width: 960px;
    background: transparent url('../layout_images/shadow.png') 0 -15px;
    background-repeat: no-repeat;
    color: #666;
}

#footer_link
{
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    list-style: none;
}
#footer_link li {
    display: inline;
    margin-right: 10px;
}

#footer_link li a {
    color: inherit;
    text-decoration: none;
}

#footer_link li a:hover {
    text-decoration: underline;
}


/* GENERIC CLASSES */
.clear {
    clear:both;
}
.hide {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.social_icons a{
    text-decoration: none;
}


.box {
    background-image:url('../layout_images/box-gradient-bg.jpg');
    background-repeat:repeat-x;
    min-height: 148px;
    background-color: #cccccc;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 10px;
    padding-bottom: 0px;
}

.main_inner {
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.80);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    width: 920px;
    padding: 20px;
}

/*form classes */


.form label{
    text-align:right;
    float:left;
    width: 150px;
}
span.required {
    color: red
}

.error_border {
    border: 1px solid red;
}

.nailthumb-container {
padding: 0px;
overflow: hidden;
position: relative;
text-align: left;
float: left;
margin: 0 14px 6px 0;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
border-radius: 2px;
border: 1px solid #CCC;

}

.nailthumb-container img.nailthumb-image {
  margin: 0px;
  padding: 0px;
  max-width: none;
  text-align: left;
  float: left;
}
.nailthumb-container span.nailthumb-title {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: White;
  display: block;
  font-size: 9px;
  height: 20px;
  left: 0;
  margin-top: 2px;
  line-height: 20px;
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
  float: left;
}
.nailthumb-container span.nailthumb-title .nailthumb-title-scroller {
  padding-left: 2px;
}
.nailthumb-container img {
  max-width: none;
  text-align: left;
}

.th-100x60 {
	width:100px;
	height:60px;} /* category template 2   */
	

div.contentListing {padding:14px 14px 14px 10px; border-bottom:1px solid #eee; min-height:90px; background:#ffffff; -webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;-ms-transition: all .5s;transition: all .5s;}
div.contentListing:hover {background:#fcfcfc;}
.contentListing h2, .contentListing h2 a {font-size:16px; line-height:1.1; margin:0 0 8px 115px;}
.contentListing h3, .contentListing h3 a {font-size:15px; line-height:1.1; margin:0 0 8px 0; font-weight: 600;}
.contentListing h4, .contentListing h4 a {font-size:12px; line-height:1.1; margin:0 0 6px 0; font-weight: 600; color:#444;}
h4.publishDate {font-size:10px; color:#999; text-transform:uppercase;}
.contentListing h5, .contentListing h5 a {font-weight: 400; font-size: 10px;color: #999; margin-bottom:12px; letter-spacing:1px;}
.contentListing p, .contentListing a {font-size:12px; line-height:15px;}
.contentListing p {margin:0;}
.contentListing p + p {margin-top:14px;}
.contentListing img {float:left; margin:0 14px 10px 0;}
.exec-list,
.paper-list,
.site-area-list {float:left; width:622px;}
	

.btn {
	border: 1px solid #666;
	border-radius: 5px;
	color: #333;
	text-decoration: none;
	padding: 5px 10px;
	font-weight: bold;
}
.btn:hover {
	background: #eee;
}
.btn.blue {
	color: #fff;
	background: #22608d;
	border: 1px solid #3177aa;
}
.btn.blue:hover {
	background: #3177aa;
}
.btn.big {
	font-size: 1.5em;
	padding: 10px 20px;
	border-radius: 10px;
}