/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (in jqModal.js). You
	can change this value by either;
	  a) supplying one via CSS
	  b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */
	
.jqmWindow {
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -222px;
    color: #333;
/*    padding: 10px 20px;*/
	width: 400px;
	border: 2px solid #666;
	z-index: 300000;
	background-color: #fff;
	word-wrap:break-word;
	border: 1px solid #ccc; display: none; 
	-moz-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.3); 
	box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.3);
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(8 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}